.projects-actual {
    display: grid;
    grid-template-columns: repeat(3, 21vw);
    margin-top: 2.5vw;
    width: max-content;
}

.projects-container {
    background-color: #000;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20vh;
}

.project-blob {
    border-radius: 10px;
    background: #171717;
    transition: all .2s ease;
    height: max-content;
    min-height: 450px;
    width: 20vw;
    cursor: pointer;
    margin-bottom: 2vw;
}

.project-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-header {
    padding: 1.5vw;
}

.project-heading {
    font-size: 1.5vw;
    font-weight: 600;
    color: #fff;
}

.project-year {
    font-size: 1vw;
    font-weight: 400;
    color: #fff;
    opacity: calc(0.8);
}

.project-desc {
    color: #a1a1a1;
    font-size: 0.8vw;
}

@media screen and (max-width: 960px) {
    .projects-actual {
        grid-template-columns: repeat(1, 90vw);
    }

    .project-blob {
        width: 90vw;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .project-header {
        padding: 5vw;
    }

    .project-image {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .project-heading {
        font-size: 6vw;
    }

    .project-desc, .project-year {
        font-size: 4vw;
    }
}