.blogs-container {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20vh;
}

.blogs-inner-container, .blogs-actual {
    margin-left: 2vw;
    width: 50vw;
}

.blogs-title {
    font-family: "Mark Pro Bold", sans-serif;
    width: 90%;
    font-size: 3.3rem;
    color: #fff;
    margin-bottom: 1rem;
}

.blogs-description {
    width: 100%;
    font-family: "D-DIN", sans-serif;
    font-size: 1.2rem;
    color: #A1a1a1;
    margin-bottom: 1rem;
}

.blogs-actual {
    margin-top: 50px;
}

.blog {
    padding: 1.5vw;
    cursor: pointer;
    margin-bottom: 2vw;
    display: flex;
    width: 45vw;
    justify-content: space-between;
    border-color: rgba(63, 63, 70, .4);
    border-bottom-width: 1px;
}

.blog-description {
    margin-top: 20px;
    width: 30vw;
    font-size: 0.875rem;
    color: rgb(161 161 170);
}

.blog-title {
    color: rgb(244 244 245);
}

.blog-type {
    font-size: 14px;
    color: #717171;
    font-family: ui-sans-serif, sans-serif, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}

.blog-left {
    border-color: rgba(63, 63, 70, .4);
    border-right-width: 1px;
    padding-right: 1vw;
    width: 10vw;
}


@media screen and (max-width: 960px) {
    .blogs-title {
        font-size: 2.3rem;
    }

    .blog-description {
        font-size: 1rem;
    }

    .blogs-inner-container {
        width: 95vw;
    }

    .blogs-actual, .blog {
        width: 90vw;
    }

    .blog {
        flex-direction: column;
        border-width: 1px;
        margin-bottom: 4vw;
    }

    .blog-left {
        padding: 0;
        width: 85vw;
        border-right-width: 0;
        padding-bottom: 5vw;
        border-bottom-width: 1px;
    }

    .blog-title {
        padding-top: 2vw;
        font-size: 1.5rem;
    }

    .blog-description {
        width: 85vw;
    }
}